In [0]:
print(max(li))
print(min(li))
print(sum(li))
print(sum(li)//len(li))

25
1
56
11

In [0]:
li = [1,9,16,25,5]
li.append(29) # add the new items
li.insert(2,56) 
print(li)

[1, 9, 56, 16, 25, 5, 29]

In [0]:
li.count(9)

1

In [0]:
li = [1,9,16,56,25,5,9]
li.pop(1)
li

[1, 16, 56, 25, 5, 9]

In [0]:
li = [1, 16, 56, 25, 5, 9]
li.sort()
li

[1, 5, 9, 16, 25, 56]

In [0]:
li1 = [1,6,19,25]
li.extend(li1)
li

[1, 5, 9, 16, 25, 56, 1, 6, 19, 25]

In [0]:
li1 = [1,6,19,25]
li1.reverse()
li1

[25, 19, 6, 1]

In [0]:
def largenumber(li):
    li.sort()
    return li[-1]
def genericlarge(li,n):
    li.sort()
    return li[-n]
li = [19,1,25,6,9,45,22]
print(largenumber(li))
print(genericlarge(li,3))

45
22

In [0]:
def smallnumber(li):
    li.sort()
    return li[0]
def genericsmall(li,n):
    li.sort()
    return li[n-1]
li = [19,1,25,6,9,45,22]
print(smallnumber(li))
print(genericsmall(li,3))

1
9

###TUPLES
 - paranthesis() ---> Tuple and square brackets[] ----> List
  - diff b/w list and tuples
     - list are mutable can be changed/modified
     - used to access and modify,add,delete  data
     - tuples are immutable - cannot be changed
     - used to access data only

In [0]:
t1 = (1,2,3,4,5,6)
t1
print(type(t1),t1[1:5])

<class 'tuple'> (2, 3, 4, 5)

In [0]:
t1 = [1,2,3,4,5,6]
t1
print(type(t1),t1[1:6])

<class 'list'> [2, 3, 4, 5, 6]

Dictionaries
1. It works on the concept of set unique data.
2. Keys, values is the unique identifier for the value.
3. Each key is seperated.......

In [0]:
d1 = {"name":"gitam","email id":"gitam@gmail.com","address":"Hyd"}
d1

{'address': 'Hyd', 'email id': 'gitam@gmail.com', 'name': 'gitam'}

###strings
 - Strings
 - string slicing
 - Fundamental programming with string in phython

In [0]:
s1 = 'python'
print(s1[0])
print(s1[1])
print(s1[5])
print(s1[len(s1)-1])

p
y
n
n

In [0]:
s1='Python'
print(s1[1:-1])            #printing all the characters except first and last
print(s1[len(s1)//2])      #middle of the string  
print(s1[-1::-1])          #reverse of the string
print(s1[-1:-3:-1])        #access the last two characters in reverse order
print(s1[::2])             #to access the alternate of two characters(prints only 1st character for every 2 numbers )
print(s1[::3])             #to access the alternate of three characters(prints only 1st character for every 3 numbers )
print(s1[::-2])            #to access the reverse of alternate characters

ytho
h
nohtyP
no
Pto
Ph
nhy

In [0]:
def reversestring(str):
    return str[-1::-1]
reversestring("programing")

'gnimargorp'

In [0]:
def ispalindrome(str):
    if str == str[-1::-1]:
        return True
    else:
        return False
    return
print(ispalindrome("python"))
print(ispalindrome("ganag"))

False
True

###String bulit-in methods
1.Upper( ) -- will convert the input string into upper case

2.lower( ) -- will convert the input string into lower case

### String boolean Built in methods
#1. islower() -- True if the string have all characters lower case
#2. isupper() -- True if the string have all characters upper case
#3. istitle() -- True if the string in title case
#4. isnumeric() -- True if the string numeric
#5. isalpha() -- True if the string only alphabets
#6. isspace() -- True if the string is space

In [0]:
s1 = 'python'
print(s1.upper())
print(s1.lower())

PYTHON
python

In [0]:
s1 = "python"
print(s1.islower())
print(s1.isupper())

True
False

In [0]:
s1 = "py123456"
s2 = "python"
print(s1.isalpha())
print(s2.isalpha())

False
True

###String Methods
1.join( ) -- method will concatinates the two strings.

2.Split( ) -- split( ) returnds the list of strings seperated by whitespace.

3.replace( ) -- replaces the specific word or character with new word/character'

In [0]:
s1 = 'python'
print(" ".join(s1))

p y t h o n

In [0]:
s2 = "python programing easy to learn"
print(",".join(s2))

p,y,t,h,o,n, ,p,r,o,g,r,a,m,i,n,g, ,e,a,s,y, ,t,o, ,l,e,a,r,n

In [0]:
li= ['python,programing,learn']
print(",".join(li))

python,programing,learn

In [0]:
s2= "python programing easy to learn"
print(s2.split())

['python', 'programing', 'easy', 'to', 'learn']

In [0]:
s2= "python programing easy to learn"
print(s2.split('a'))

['python progr', 'ming e', 'sy to le', 'rn']

In [0]:
s2= "python programing easy to learn"
print(len(s2))
li= s2.split()
print(li)
print(len(li))

31
['python', 'programing', 'easy', 'to', 'learn']
5

In [0]:
s2 = "python programing easy to learn"
li=list(s2)
print(li)

['p', 'y', 't', 'h', 'o', 'n', ' ', 'p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'n', 'g', ' ', 'e', 'a', 's', 'y', ' ', 't', 'o', ' ', 'l', 'e', 'a', 'r', 'n']

In [0]:
s2 = "python programing easy to learn"
li=list(s2)
print(li)

['p', 'y', 't', 'h', 'o', 'n', ' ', 'p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'n', 'g', ' ', 'e', 'a', 's', 'y', ' ', 't', 'o', ' ', 'l', 'e', 'a', 'r', 'n']

In [0]:
s2 = "python programing easy to learn"
print(s2.replace("gra","application"))

python proapplicationming easy to learn