###Functional programming
1. simple
2. easy to undersatnd
3. better reuseability
4. length of program will be divided into sub program

In [0]:
def nameofFunction(<parameters):
    statements
    return

In [3]:
def evendigitsum(n):
    s = 0
    while n !=0:
        r = n % 10
        if r % 2 ==0:
            s = s + r
        n = n // 10
    return s
evendigitsum(1234)

6

In [4]:
def square(x):
    print (x*x)
print(square(4))

16
None

In [6]:
def square(x):
    return x*x
square(3)

9

In [7]:
def cube(x):
    return x*x*x
cube(2)

8

In [10]:
def cube(x):
    print (x*x*x)
print(cube(4))

64
None

In [11]:
def multiply(x,y=0):
    print("value of x=",x)
    print("value of y=",y)
    return(x*y)
print(multiply(y=2,x=4))

value of x= 4
value of y= 2
8

In [25]:
def swap(x,y):
    temp=x
    x=y
    y = temp
    return x,y
swap(2,3)

(3, 2)

In [26]:

def largedigit(n):
    large = 0
    while n!=0:
      r=n%10
      if large < r:
          large = r
      n=n//10
    return large
largedigit(19535)

9

In [28]:
def printseries(lb,ub):
    for x in range (lb,ub+1):
        print(x,end = ' ')
    return
printseries(1,10)

1 2 3 4 5 6 7 8 9 10

#COLLECTION TYPES
1.LIST
2.TUPLE
3.SET
4.DICTIONARY

#### LIST
- one of the data structure in python
- Data structure means to store, sort and search options
- Its one common data structure in python,the items of list sepearated by comma and enclosed in square brackets

In [0]:
li = [1,8,16,9,2]
print(li)#will print all the list items
print(li[0])
print(li[1])
print(li[-5])
print(li[1:])